@model IEnumerable<MVC5PartialView.car>

@{
    ViewBag.Title = "Available Cars";
}

<h2>Available Cars</h2>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Brand
        </th>
        <th>
            Model
        </th>
        <th>
            Year
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem=>item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarYear)
            </td>
        </tr>
    }

</table>
